<div class="hero_home" style="background-image: url('<%= asset_path 'hero_home.png' %>')">
  <h1 class="hero_home__title">Bienvenido a <strong>Orofacial</strong>Metrics</h1>
  <h4 class="hero_home__subtitle">La forma más <strong>fácil</strong> de realizar evaluación y seguimiento clínico para <strong>Terapia Miofuncional</strong> o <strong>Motricidad Orofacial.</strong></h4>
</div>
