<div class="hero_home" style="background-image: url('<%= asset_path 'hero_home.jpg' %>')">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="hero_home__title">Bienvenido a <strong>Orofacial</strong>Metrics</h1>
        <h4 class="hero_home__subtitle">La forma más <strong>fácil</strong> de realizar evaluación y seguimiento clínico para <strong>Terapia Miofuncional</strong> o <strong>Motricidad Orofacial.</strong></h4>
      </div>
      <div class="col-md-12">
        <a href="#" class="hero_home__btn btn btn-primary-outline">VER LICENCIAS</a>
      </div>
    </div>
  </div>
</div>
<div>
  <div class="container">
    <div class="row">
      <div class="vc_column-inner ">
        <div class="wpb_wrapper">
          <div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_pos_align_center vc_separator_no_text vc_sep_color_grey"><span class="vc_sep_holder vc_sep_holder_l"><span class="vc_sep_line"></span></span><span class="vc_sep_holder vc_sep_holder_r"><span class="vc_sep_line"></span></span>
      </div>
        <div class="wpb_text_column wpb_content_element ">
          <div class="wpb_wrapper">
            <h2 style="text-align: center;">Usos</h2>
            <h4 style="text-align: center;">Con Orofacial Metrics puedes realizar:</h4>
          </div>
          <br>
          <br>
        </div>
        <div class="vc_row wpb_row vc_inner vc_row-fluid mpc-row" data-row-id="mpc_row-105b2e79f03b0ea">
          <div class="wpb_column col-md-4  vc_column_container vc_col-sm-4 mpc-column" style="text-align: center;" data-column-id="mpc_column-225b2e79f0391ae">
            <div class="vc_column-inner ">
              <div class="wpb_wrapper"><a href="#contacto" target="" title="" data-id="mpc_icon-265b2e79f038e3f" class="mpc-icon mpc-transition mpc-animation mpc-effect-none mpc-icon--image mpc-inited" data-animation-in="transition.perspectiveRightIn||650||0||100" data-animation-loop="callout.shake||500||1500" style="opacity: 1; transform-origin: 50% 50% 0px; transform: translateX(0px);"><div class="mpc-icon-wrap"><i class="mpc-icon-part mpc-regular mpc-transition "><img width="128" height="128" src="http://orofacialmetrics.com/wp-content/uploads/2016/08/user.png" class="attachment-medium" alt="Icon made by http://www.flaticon.com/authors/freepik from www.flaticon.com"></i></div></a>
          <div class="wpb_text_column wpb_content_element ">
            <div class="wpb_wrapper">
              <h2 style="text-align: center;">Registro de Pacientes</h2>
              <p style="text-align: justify;">Documenta los datos básicos de tus usuarios y genera perfiles epidemiológicos a medida</p>

            </div>
          </div>
        </div>
            </div>
          </div>
          <div class="wpb_column col-md-4  vc_column_container vc_col-sm-4 mpc-column" style="text-align: center;" data-column-id="mpc_column-815b2e79f03a05f">
            <div class="vc_column-inner ">
              <div class="wpb_wrapper">
                <a href="#contacto" target="" title="" data-id="mpc_icon-545b2e79f039d02" class="mpc-icon mpc-transition mpc-animation mpc-effect-none mpc-icon--image mpc-inited" data-animation-in="transition.perspectiveRightIn||650||0||100" data-animation-loop="callout.shake||500||1500" style="opacity: 1; transform-origin: 50% 50% 0px; transform: translateX(0px);">
                  <div class="mpc-icon-wrap">
                    <i class="mpc-icon-part mpc-regular mpc-transition ">
                      <img width="128" height="128" src="http://orofacialmetrics.com/wp-content/uploads/2016/08/drawing.png" class="attachment-medium" alt="Icon made by http://www.flaticon.com/authors/madebyoliver from www.flaticon.com"></i>
                  </div>
                </a>
          <div class="wpb_text_column wpb_content_element ">
            <div class="wpb_wrapper">
              <h2 style="text-align: center;">Evaluación y Diagnóstico</h2>
              <p style="text-align: justify;">Realizalos de forma rápida y efectiva a través del fotográfico</p>
            </div>
          </div>
        </div>
        </div>
        </div>
          <div class="wpb_column col-md-4  vc_column_container vc_col-sm-4 mpc-column" style="text-align: center;" data-column-id="mpc_column-665b2e79f03af0f">
            <div class="vc_column-inner ">
              <div class="wpb_wrapper">
                <a href="#contacto" target="" title="" data-id="mpc_icon-255b2e79f03abbb" class="mpc-icon mpc-transition mpc-animation mpc-effect-none mpc-icon--image mpc-inited" data-animation-in="transition.perspectiveRightIn||650||0||100" data-animation-loop="callout.shake||500||1500" style="opacity: 1; transform-origin: 50% 50% 0px; transform: translateX(0px);">
                  <div class="mpc-icon-wrap"><i class="mpc-icon-part mpc-regular mpc-transition "><img width="128" height="128" src="http://orofacialmetrics.com/wp-content/uploads/2016/08/technology.png" class="attachment-medium" alt="Icon made by http://www.flaticon.com/authors/freepik from www.flaticon.com"></i></div></a>
          <div class="wpb_text_column wpb_content_element ">
            <div class="wpb_wrapper">
              <h2 style="text-align: center;">Seguimiento</h2>
              <p style="text-align: justify;">Comunica a tus pacientes los resultados de sus tratamientos a partir de la comparación de la información registrada.</p>
            </div>
          </div>
        </div>
          </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <br>
  <div class="container">
    <hr>
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center">Funcionamiento</h1>
        <h3 class="text-center">Elaborar diagnósticos a partir de las medidas del rostro nunca había sido tan fácil y rápido:</h3>
      </div>
    </div>
    <br>
    <br>
    <div class="row">
      <div class="col-md-3">
          <div class="col-md-12">
            <img src="http://orofacialmetrics.com/wp-content/uploads/2016/08/multimedia.png" alt="">
          </div>
          <div class="col-md-12">
            <p>Seleccionas el paciente previamente registrado</p>
          </div>
      </div>
      <div class="col-md-3">
        <div class="col-md-12">
          <img src="http://orofacialmetrics.com/wp-content/uploads/2016/08/photo-camera.png" alt="">
        </div>
        <div class="col-md-12">
          <p>Tomas la fotografía del protocolo con tu teléfono o seleccionas las fotografías archivadas y las subes al sistema</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="col-md-12">
          <img src="http://orofacialmetrics.com/wp-content/uploads/2016/08/spa.png" alt="">
        </div>
        <div class="col-md-12">
          <p>Sigues los pasos para indicar los puntos que OM medirá y te entrega el diagnóstico</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="col-md-12">
          <img src="http://orofacialmetrics.com/wp-content/uploads/2016/08/screen.png" alt="">
        </div>
        <div class="col-md-12">
          <p>Realiza el seguimiento de la evolución de tus pacientes en cada consulta</p>
        </div>
      </div>
    </div>
  </div>
</div>
