<div class="oro-sidebar">
  <ul class="nav">
    <li class="oro-sidebar--link">
      <a href="/pacientes">Pacientes</a>
    </li>
    <li class="oro-sidebar--link">
      <a href="/consentimientos">Consentimientos</a>
    </li>
    <li class="oro-sidebar--link"></li>
  </ul>
</div>
