# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 78424b7a97054b796371ee0c20a05abcc3828c3f7dc28915744a9a88f0ec7bbf14e4e4bcaff81a1bc09def5696c1fec00dff6f3c22e1967bef2f871668308223

test:
  secret_key_base: d5311a6bd282427947505a6bd0c8dcd505ac8033b279016462f15aa4f59e34ffacb1190c358f0c55298da465256c514932db83085e982db5510091f791509fbd

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
