// Place all the styles related to the Fotos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.oro-metrics
{
  padding: 15px;
}

.oro-metrics__foto-min {
  width: 80px;
  padding: 5px;
}

.oro-metrics__marco {
  position: relative;
}

.oro-metrics__glass
{

}

%oro-media
{
  width: 100%;
  overflow: hidden;
}

.oro-metrics__media {
  @extend %oro-media;
}

.oro-metrics__media-upload {
  @extend %oro-media;
  border-radius: 15px;
  border: 1px dashed #2b8adc;
  background-color: white;
  padding: 15px;
  max-height: calc( 40vh - 100px);
}

.oro-metrics__info
{
  padding: 15px;
  background-color: white;
  box-shadow: 1px 0 5px -3px, 0px 0px 1px -0.5px;

  table.table.table-responsive.table-hover {
    margin-top: 35px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 5px -1px #bbb;
  }

  table.table.table-responsive.table-hover thead tr th {
    padding: 15px;
  }

}



